---
import Layout from '../layouts/Layout.astro';
import AnalizadorCasos from '../components/AnalizadorCasos.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Análisis de Datos">
    <main class="py-12 px-4">
        <Nav />
        <AnalizadorCasos />
    </main>
</Layout>
