---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import AnalizadorCasos from '../components/AnalizadorCasos.astro';
---

<Layout title="Análisis de Datos">
    <main class="py-12 px-4">
        <AnalizadorCasos />
    </main>
</Layout>
