---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import AnalizadorCasos from '../components/AnalizadorCasos.astro';
import ReclamosSemana from '../components/ReclamosSemana.astro';
---

<Layout title="Panel de Análisis de Casos">
    <main class="w-full">
        <Nav />
        <div id="content-analisis" class="tab-content">
            <AnalizadorCasos />
        </div>
        <div id="content-reclamos" class="tab-content hidden">
            <ReclamosSemana />
        </div>
    </main>
    
    <script src="../js/main.js"></script>
    <script src="../../node_modules/chart.js/dist/chart.umd.min.js"></script>
</Layout>