---
// src/layouts/Layout.astro
import "../styles/global.css"; // Asegúrate de que este archivo exista
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/chart.svg" />
    <title>{title}</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('color-theme')) {
          return localStorage.getItem('color-theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
    
      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('color-theme', theme);
    </script>
  </head>
  <body class="bg-slate-50 dark:bg-slate-900 transition-colors duration-300">
    <slot />
  </body>
</html>
